.container-footer-NeoChef {
  display: flex;
  background-image: url("../img/bg-footer.png");
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  padding: 70px 0 10px 0;
  width: 100%;

  .main-footere-NeoChef{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg-footer1.png");
    background-size:100% 105%;
    background-position: center;
    background-repeat: no-repeat;
    .pad-footer-NeoChef{
      display: none;
    }
  }
  .table-footer-NeoChef{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .table-footer1-NeoChef {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      h1{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
        color: #c9c9c9;
        font-family: 'LG Smart Light', sans-serif !important;
        padding-bottom: 20px;
      }
      p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #c9c9c9;
        font-family: "LG Smart Light",sans-serif!important;;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        opacity: 0.8;
      }
      .text1-footer1-NeoChef{
        width: 33%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 50px;
        padding-bottom: 150px;
        margin: 0 auto;
      }
      .text2-footer1-NeoChef{
        width: 33%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding:  0 0 40px 0;
        p{
          br:nth-child(2){
            display: none;
          }
        }
      }
      .text3-footer1-NeoChef{
        width: 33%;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 0;
        padding-bottom: 100px;
        margin: 0 auto;
      }
    }
    .table-footer2-NeoChef {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer-lg1{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-left:0;
        margin-top: -70px;
      }
      .footer-lg3{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-right: 65px;
        margin-top: -70px;
      }
    }
    .table-footer3-NeoChef {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer-logo1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 300px;
        margin-top: 60px;
        padding-left: 95px;
      }
      .footer-logo2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 240px;
        padding-left: 15px;
      }
      .footer-logo3{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 300px;
        padding-top: 64px;
        padding-right: 120px;
      }
    }
  }
  .footer-last{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;


    p{
      color: #6b6b6b;
      font-family: "LG Smart Light",sans-serif!important;
      font-size: 14px;
      font-weight: 300;
      line-height: 16px;
      text-align: center;
    }
    p:nth-child(1){
      display: flex;
      flex-basis: 33%;
      justify-content: center;
    }
    p:nth-child(2){
      display: flex;
      flex-basis: 50%;
      justify-content: center;
    }
    p:nth-child(3){
      display: flex;
      flex-basis: 33%;
      justify-content: center;
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .container-footer-NeoChef{
    padding-top: 20px;
    .main-footere-NeoChef{
      background-image: none;
      width: 100%;
      .footer-last{
        display:none ;
      }
      .table-footer-NeoChef{
        display:none ;
      }
      .pad-footer-NeoChef{
        display: flex;
        flex-direction: column;
        width: 100%;
        h1{
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 40px;
          line-height: 40px;
          font-weight: 400;
          color: #c9c9c9;
          font-family: 'LG Smart Light', sans-serif !important;
          padding-bottom: 20px;
        }
        p{
          width: 100%;
          display: flex;
          justify-content: center;
          text-align: center;
          color: #c9c9c9;
          font-family: "LG Smart Light",sans-serif!important;;
          font-weight: 300;
          font-size: 24px;
          line-height: 30px;
          opacity: 0.8;
        }
        .pad-footer-NeoChef1{
          background-image: url("../img/pad-bg-footer1.png");
          background-size:100% 455px;
          background-position: center 70%;
          background-repeat: no-repeat;
          .pad-lg-NeoChef1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 424px;
          }
          .pad-logo-NeoChef1{
            display: none;
          }
          p{
            padding-bottom: 59px;
          }
        }
        .pad-footer-NeoChef2{
          background-image: url("../img/pad-bg-footer2.png");
          background-size:100% 377px;
          background-position: center 60%;
          background-repeat: no-repeat;
          p{
            padding-bottom: 59px;
          }
          .pad-last-NeoChef{
            padding-top: 390px;
          }
        }
        .pad-footer-NeoChef3{
          background-image: url("../img/pad-bg-footer3.png");
          background-size:100% 584px;
          background-position: center 60%;
          background-repeat: no-repeat;
          p{
            padding-bottom: 59px;
          }
          .pad-logo-NeoChef1{
            display: none;
          }
          .pad-lg-NeoChef{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .pad-last-NeoChef{
            padding-top:476px;
          }
        }
        .pad-last-NeoChef{
          p{
            color: #6b6b6b;
            font-family: "LG Smart Light",sans-serif!important;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 480px){
  .container-footer-NeoChef{
    padding-top: 20px;
    .main-footere-NeoChef{
      background-image: none;
      width: 100%;
      .footer-last{
        display:none ;
      }
      .table-footer-NeoChef{
        display:none ;
      }
      .pad-footer-NeoChef{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        h1{
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 23px;
          line-height: 28px;
          font-weight: 400;
          color: #c9c9c9;
          font-family: 'LG Smart Light', sans-serif !important;
          padding-bottom: 5px;
        }
        p{
          width: 100%;
          display: flex;
          justify-content: center;
          text-align: center;
          color: #c9c9c9;
          font-family: "LG Smart Light",sans-serif!important;;
          font-weight: 300;
          font-size: 16px;
          line-height: 21px;
          opacity: 0.8;
        }
        .pad-footer-NeoChef1{
          background-image: url("../img/mob-bg-footer1.png");
          background-size:100% 300px;
          background-position: center 90%;
          background-repeat: no-repeat;
          .pad-lg-NeoChef1{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .pad-logo-NeoChef1{
            padding-bottom: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 37px;
          }
          p{
            padding-bottom: 59px;
            br:nth-child(1){
              display: none;
            }
          }
        }
        .pad-footer-NeoChef2{
          background-image: url("../img/mob-bg-footer2.png");
          background-size:100% 300px;
          background-position: center 100%;
          background-repeat: no-repeat;
          h1{
            padding-left: 10px;
            padding-right: 10px;
          }
          p{
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 30px;
            br:nth-child(2){
              display: none;
            }

          }
          .pad-logo-NeoChef1{
            padding-bottom: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 37px;
          }
          .pad-last-NeoChef{
          }
        }
        .pad-footer-NeoChef3{
          background-image: url("../img/mob-bg-footer3.png");
          background-size:100% 300px;
          background-position: center 90%;
          background-repeat: no-repeat;
          padding-bottom: 50px;
          p{
            br:nth-child(2){
              display: none;
            }
            br:nth-child(3){
            }
            br:nth-child(1){
              display: none;
            }
          }
          .pad-logo-NeoChef1{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 37px;
            padding-bottom: 160px;
          }
          .pad-last-NeoChef{
            display: flex;
            padding-top: 40px;
          }

          .pad-lg-NeoChef{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
          }
        }
        .pad-last-NeoChef{
          p{
            color: #6b6b6b;
            font-family: "LG Smart Light",sans-serif!important;
            font-size: 9px;
            font-weight: 300;
            line-height: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}