.container-microwave-NeoChef{
  display: flex;
  background-image: url("../img/bg-micro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 50px 120px;
  .main-microwave-NeoChef{
    max-width: 1485px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    .title-smart-NeoChef{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      h1{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "LG Smart",sans-serif;
        color: #c9c9c9;
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        padding-bottom: 25px;
      }
      p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "LG Smart",sans-serif;
        color: #c9c9c9;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        opacity: 0.8;
      }
    }
    .bottom-microwave-NeoChef{
      padding-top: 50%;
      p{
        color: #6b6b6b;
        font-family: "LG Smart Light",sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .container-microwave-NeoChef{
    background-image: url("../img/bg-micro-pad.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    .main-microwave-NeoChef{
      padding-top: 0;
      .bottom-microwave-NeoChef{
        padding-top: 322px;
      }
    }

  }
}
