.contained-chef-NeoChef
    .main-chef-NeoChef
        .title-chef-NeoChef
            p ¹НеоШеф.
        .bio-chef-NeoChef
            .info-chef-NeoChef
                img(src="img/vlad-chef.png")
                .description-chef-NeoChef
                    .description-chef-NeoChef-title
                        h1 Влад Пискунов,
                        p Шеф-повар ресторана «Матрешка»
                    hr
                    .description-chef-NeoChef-story
                        p Популярный гастрономический блогер, автор кулинарных книг и проекта «Московский обед», ведущий кулинарной рубрики программы «Фазенда» на Первом Канале и программы «Огненная Еда» на канале Кухня ТВ.
            .video-chef-NeoChef
                img(src="img/video-vlad.png")
                h1 Калитки
                p от Влада Пискунова