.container-chicken-NeoChef
    .main-chicken-NeoChef
        .title-chicken-NeoChef
            h1 Многофункциональная микроволновая печь
            p  Приготовление сложных блюд стало проще: функции запекания, обжаривания, приготовление на пару, томление¹
                br
                |теперь доступны в одном устройстве. Удивляйте себя и своих близких.
        .calc-chicken-NeoChef
            .pan-microwave-NeoChef
                .pan-NeoChef
                    img(src="img/pan.svg")
                    p Подогреватель
                .microwave-NeoChef
                    img(src="img/microwave.svg")
                    p Микроволновая
                      br
                      | печь
            .summ-NeoChef
                .plus-NeoChef
                    img(src="img/plus.svg")
                .eq-NeoChef
                    img(src="img/eq.svg")
                .result-NeoChef
                    h1 5
                        span в
                        |1
                    p (Опционально)
            .grill-NeoChef
                .yogurt-NeoChef
                    img(src="img/yogurt.svg")
                    p Йогуртница
                .fried-NeoChef
                    img(src="img/fried.svg")
                    p Фритюрница
                .grilled-NeoChef
                    img(src="img/grill.svg")
                    p Гриль
        .logo-chicken-pad
            img(src="img/smart-logo.svg")
        .logo-chicken-lg
            img(src="img/lg-logo-smart.png")
        .bottom-text-NeoChef
            p ¹ Функции доступны для определённых моделей. Смотри спецификацию.   ² Технология «Умный» инвертор.