.container-footer-NeoChef
    .main-footere-NeoChef
        .table-footer1-NeoChef
            h1
                | Устойчивый
                br
                |  поворотный столик

            p
                | 6-угольная опора предотвращает
                br
                |  проливание¹ жидкости из ёмкости,
                br
                |  стоящей на краю поворотного
                br
                |  столика, и позволяет вам готовить
                br
                |  без лишних хлопот.
            .footer-lg
                 img(src='img/lg-img.png')
            .footer-logo
                 img(src='img/footer-logo1.png')
            .footer-img
                 img(src='img/footer-img1.png')

            .footer-last
                p
                    | ¹ Внутренний тест компании LG.
                    br
                    |  Использование печи LG NeoChef.  ² НеоШеф.


        .table-footer2-NeoChef
            h1
                | Антибактериальное
                br
                |  покрытие EasyClean¹

            p
                | Антибактериальное покрытие EasyClean¹
                br
                | Специальное антибактериальное легкоочищаемое внутреннее покрытие EasyClean¹ препятствует распространению бактерий
                br
                |  на 99,99 %² и устойчиво
                br
                | к механическим повреждениям
                br
                | и впитыванию жира — частички пищи
                br
                | не прилипают к стенкам печи
                br
                | и легко очищаются.
                br
            .footer-logo2
                img(src='img/footer-logo2.png')
            .footer-img
                img(src='img/footer-img2.png')
            .footer-last
                p ¹ ИзиКлин.  ² Протестировано SGS
                    br
                    |(тест № F690101/LF-CTSAYAA15-65910 от 07.01.2016).

        .table-footer3-NeoChef
            h1
                | Яркая
                br
                |  LED-подсветка

            p
                | Внутренняя LED-подсветка белого
                br
                |  цвета в 3 раза ярче¹,
                br
                |  чем в традиционных моделях
                br
                | , что помогает контролировать
                br
                |  процесс приготовления пищи
                br
                |  без открывания дверцы
                br
                |  микроволновой печи.

            .footer-lg
                img(src='img/lg-img2.png')
            .footer-logo
                img(src='img/footer-logo3.png')
            .footer-img
                img(src='img/footer-img3.png')

            .footer-last
                p
                    | ¹ Внутренний тест компании LG.
                    br
                    | Использование печи LG NeoChef.
