.container-footer-NeoChef
    .main-footere-NeoChef
        .table-footer-NeoChef
            .table-footer1-NeoChef
                .text1-footer1-NeoChef
                    h1
                        | Устойчивый
                        br
                        |  поворотный столик

                    p
                        | 6-угольная опора предотвращает
                        br
                        |  проливание¹ жидкости из ёмкости,
                        br
                        | стоящей на краю поворотного
                        br
                        |  столика, и позволяет вам готовить
                        br
                        | без лишних хлопот.
                .text2-footer1-NeoChef
                    h1
                        | Антибактериальное
                        br
                        |  покрытие EasyClean¹

                    p
                        | Специальное антибактериальное
                        br
                        | легкоочищаемое внутреннее покрытие
                        br
                        | Easy-Clean¹ препятствует
                        br
                        | распространению бактерий
                        br
                        |на 99,99 %² и устойчиво
                        br
                        | к механическим повреждениям
                        br
                        | и впитыванию жира — частички пищи
                        br
                        | не прилипают к стенкам печи
                        br
                        | и легко очищаются.
                        br
                .text3-footer1-NeoChef
                    h1
                        | Яркая
                        br
                        |LED-подсветка

                    p
                        | Внутренняя LED-подсветка белого
                        br
                        |  цвета в 3 раза ярче¹,
                        br
                        | чем в традиционных моделях
                        br
                        | , что помогает контролировать
                        br
                        | процесс приготовления пищи
                        br
                        | без открывания дверцы
                        br
                        | микроволновой печи.

            .table-footer2-NeoChef
                .footer-lg1
                    img(src='img/pad-lg-footer1.png')
                .footer-lg3
                    img(src='img/pad-lg-footer3.png')



            .table-footer3-NeoChef
                .footer-logo1
                    img(src='img/footer-logo1.png')
                .footer-logo2
                    img(src='img/footer-logo2.png')
                .footer-logo3
                    img(src='img/footer-logo3.png')
        .footer-last
            p ¹ Внутренний тест компании LG.
                br
                |Использование печи LG NeoChef. ² НеоШеф.
            p ¹ ИзиКлин.  ² Протестировано SGS
                br
                | (тест № F690101/LF-CTSAYAA15-65910 от 07.01.2016).
            p ¹ Внутренний тест компании LG.
                br
                |Использование печи LG NeoChef.
        .pad-footer-NeoChef
            .pad-footer-NeoChef1
                .pad-text-NeoChef
                    h1
                        | Устойчивый поворотный столик

                    p
                        | 6-угольная опора предотвращает проливание¹ жидкости из ёмкости,
                        br
                        | стоящей на краю поворотного столика, и позволяет вам готовить
                        br
                        | без лишних хлопот.
                .pad-lg-NeoChef1
                    .footer-lg1
                        img(src='img/pad-lg-footer1.png')
                .pad-logo-NeoChef1
                    .footer-logo1
                        img(src='img/mob-logo-footer1.png')
                .pad-last-NeoChef
                    p ¹ Внутренний тест компании LG. Использование печи LG NeoChef. ² НеоШеф.
            .pad-footer-NeoChef2
                .pad-text-NeoChef
                    h1
                        | Антибактериальное покрытие Easy-Clean¹

                    p
                        | Специальное антибактериальное легкоочищаемое внутреннее покрытие
                        br
                        |  Easy-Clean¹ препятствует распространению бактерийна 99,99 %²
                        br
                        | и устойчиво к механическим повреждениям и впитыванию жира —
                        br
                        | частички пищи не прилипают к стенкам печи и легко очищаются.
                .pad-logo-NeoChef1
                    .footer-logo2
                        img(src='img/mob-logo-footer2.png')
                .pad-last-NeoChef
                    p ¹ ИзиКлин.  ² Протестировано SGS (тест № F690101/LF-CTSAYAA15-65910 от 07.01.2016).
            .pad-footer-NeoChef3
                .pad-text-NeoChef
                    h1
                        | Яркая LED-подсветка

                    p
                        | Внутренняя LED-подсветка белого цвета в 3 раза ярче¹,
                        br
                        | чем в традиционных моделях, что помогает контролировать процесс
                        br
                        | приготовления пищи без открывания дверцы микроволновой печи.
                .pad-lg-NeoChef
                    .footer-lg3
                        img(src='img/pad-lg-footer3.png')
                .pad-logo-NeoChef1
                    .footer-logo2
                        img(src='img/mob-logo-footer3.png')
                .pad-last-NeoChef
                    p ¹ Внутренний тест компании LG.Использование печи LG NeoChef.
