.contained-header-NeoChef
    .header-NeoChef
        .header-title-NeoChef
            h1 Ваш личный повар LG NeoChef
                sup 1
            p Почувствуйте себя профессиональным поваром с микроволновыми печами LG NeoChef¹. Приготовление сложных блюд стало проще: функции запекания, обжаривания, приготовление на пару, томление² теперь доступны в одном устройстве. Удивляйте себя и своих близких.
        .header-microwave-NeoChef
            img(src="img/Neochef-microwave.png" class="desk-microwave")
            img(src="img/microwave-pad.png" class="pad-microwave")

