.contained-header-NeoChef
    .header-NeoChef
        .header-title-NeoChef
            h1 Ваш личный повар LG NeoChef
                sup 1
            p Почувствуйте себя профессиональным поваром с микроволновыми печами LG NeoChef¹.
        .header-microwave-NeoChef
            img(src="img/Neochef-microwave.png" class="desk-microwave")
            img(src="img/microwave-pad.png" class="pad-microwave")
            img(src="img/mob-microwave.png" class="mob-microwave")

