.container-meat-NeoChef
    .main-meat-NeoChef
        .title-meat-NeoChef
            h1 Равномерный подогрев и размораживание
            p Точный контроль мощности микроволн обеспечивает более быстрый и равномерный¹ подогрев блюд для получения лучшего вкуса. Система регулирования мощности микроволн обеспечивает более равномерное и быстрое¹ размораживание продуктов, сохраняя их вкус и структуру.
        .pizza-meat-NeoChef
            .degree-meat-NeoChef
                h1 Разница температур
                .cups-meat-NeoChef
                    .simple-meat-NeoChef
                        h1 23 °C
                        .arrow-meat-NeoChef
                            img(src='img/arrow.png')
                        p Обычная СВЧ
                    .neo-meat-NeoChef
                        h1 3 °C
                        .arrow-meat-NeoChef
                            p Одинаковая
                                br
                                | температура
                            img(src='img/arrow.png')
                        img(src="img/lg-logo.png" class="desk-logo-meat")
                        img(src="img/mob-logo-meat.png" class="mob-logo-meat")

                    .scale-meat-NeoChef
                        .scale-text-NeoChef
                            p Горячо
                            p Холодно
                        img(src="img/deg.svg")
        .stake-meat-NeoChef
            .degree-stake-NeoChef
                h1 Степень размораживания
                .cups-meat-NeoChef
                    .scale-meat-right-NeoChef
                        .scale-text-NeoChef
                            p Горячо
                            p Холодно
                        img(src="img/deg.svg")
                    .simple-stake-NeoChef
                        h1 93%
                        img(src="img/lg-logo.png" class="desk-logo-meat")
                        img(src="img/mob-logo-meat.png" class="mob-logo-meat")
                    .neo-stake-NeoChef
                        h1 76%
                        p Обычная СВЧ
                    .scale-stake-NeoChef
                        .scale-text-NeoChef
                            p Горячо
                            p Холодно
                        img(src="img/deg.svg")
        .bottom-meat-NeoChef
            p ¹ Протестировано Интертек (тест № 160600041SEL-001 от 18.07.2016). Сравнение печи LG NeoChef и обычной печи LG.  ² Технология «Умный» инвертор.
