.container-microwave-NeoChef
    .main-microwave-NeoChef
        .title-smart-NeoChef
            h1     Технология Smart Inverter¹

            p      Микроволновая печь LG NeoChef² c технологией Smart Inverter¹. Благодаря высокой мощности в 1100 Вт и точности её регулировки продукты размораживаются, подогреваются и готовятся более эффективно³, а блюда порадуют вас разнообразием. Компания LG предоставляет 10 лет гарантии на магнетрон.

        .bottom-microwave-NeoChef
            p   Технология «Умный» инвертор.  ² НеоШеф.  ³ Внутренний тест компании LG. Cравнение печи LG NeoChef и обычной печи LG.

