.container-microwave-NeoChef
    .main-microwave-NeoChef
        .title-smart-NeoChef
            h1     Технология Smart Inverter¹

            p      Микроволновая печь LG NeoChef² c технологией Smart Inverter¹. Благодаря высокой мощности в 1100 Вт и точности её регулировки продукты размораживаются, подогреваются и готовятся более эффективно³, а блюда порадуют вас разнообразием. Компания LG предоставляет 10 лет гарантии на магнетрон.
        .logo-microwave-NeoChef
            .logo-watt-NeoChef
                img(src="img/vt-logo.png")
            .logo-cert-NeoChef
                img(src="img/smart-logo1.png")
                img(src="img/war-logo.png")
        .logo-microwave-mob-NeoChef
            img(src="img/mob-logo-micro.png")
            img(src="img/mob-logo-smart.png")
            img(src="img/mob-logo-cert.png")
        .bottom-microwave-NeoChef
            p   Технология «Умный» инвертор.  ² НеоШеф.  ³ Внутренний тест компании LG. Cравнение печи LG NeoChef и обычной печи LG.

